@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Event Registration Portal</h1>
    <p class="lead mt-4">Register and manage your favorite events easily!</p>

   <a href="/Events" class="btn btn-lg btn-success mt-4 shadow">🎟️ View Events</a>

</div>
